# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# IDEs and editors
.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
.angulardoc.json
frontend\.idea
frontend\.orig

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# DB
_td_database
_td_files
